[Unit]
Description=Start Rpi Music Telegram Bot
After=sound.target network.target
Requires=sound.target network.target

[Service]
User=pi
Group=pi
Type=simple
ExecReload=/usr/bin/git pull
ExecStart=/usr/bin/python3.10 /srv/raspberry-pi-music-bot/main.py
WorkingDirectory=/srv/raspberry-pi-music-bot

[Install]
WantedBy=sound.target
